body {
    text-align: center;
    background: linear-gradient(#b6fffa 0%, #ed6af3 100%);
    background-repeat: no-repeat;
}

img {
    border-radius: 50%;
    width: 100px;
}

h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}

p {
    font-size: 18px;
}

#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

.line {
    height: 6px;
    background-color: #000000;
    width: 70px;
    margin: 8px auto;
}

.menu {
    position: fixed;
    background-color: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}

.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.links:hover {
    background-color: dodgerblue;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.article:hover {
    color: fuchsia;
}

#picture {
    transition: transform .2s;
    border: 10px solid #d754ff;
    border-radius: 50%;
}

#picture:hover {
    transform: scale(0.9);
}
.Contact_1 a {
    color: white;
    text-shadow: none;
}

.Contact_1 h3 {
    display: inline;
}

#Contact {
    background: deepskyblue;
}
#Contact iframe{
    width: 100%;
}